# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.swp
